@use '../../scss/' as *;

.person-header {
	background-color: $white;
	border-radius: $bdrds;
	padding: $padding;

	&_img {
		height: 320px;
		position: relative;
	}

	&_cover {
		& > img {
			height: 250px;
			object-fit: cover;
		}
	}

	&_user {
		// can giua va top 150px
		position: absolute;
		top: 150px;
		left: 0;
		right: 0;

		width: 150px;
		margin: auto;
	}

	&_info {
		text-align: center;
	}

	&_buttons {
		text-align: center;
	}

	&_button {
		margin-top: 10px;
		width: 150px;
		border: 2px solid $salmon;

		&--gray {
			margin-left: 10px;
			background-color: $gray;
			color: $smokyBlack;
			border: 1px solid $gray !important;
		}
	}

	@include mobile {
		&_button {
			width: 100%;
			&--gray {
				margin-top: 5px;
				margin-left: 0;
			}
		}
	}
}
